<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="31267apzyx.BigIntegersCalculator"
    Publisher="CN=65C8B58A-6A33-49F2-BC04-168AB586E7AA"
    Version="1.0.33.0" />

  <mp:PhoneIdentity PhoneProductId="0cb0b1cd-3ea2-45de-b248-c46b690ad844" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Big Integers Calculator</DisplayName>
    <PublisherDisplayName>apzyx</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BigIntegersCalculator.App">
      <uap:VisualElements
        DisplayName="Big Integers Calculator"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Big Integers Calculator o calculadora de números enteros grandes permite las operaciones básicas, suma, resta, multiplicación y división, con números sin límite de dígitos en ellos, así habrá una barra de progreso para informar de en que situación se encuentra cada operación."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>