<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="7a77cbab-5366-4caa-973a-c4979b03ea5f"
    Publisher="CN=apzyx"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="7a77cbab-5366-4caa-973a-c4979b03ea5f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>TXT Great Files</DisplayName>
    <PublisherDisplayName>apzyx</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TXT_Great_Files.App">
      <uap:VisualElements
        DisplayName="TXT Great Files"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="TXT Great Files"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name=".txt">
					<uap:DisplayName>Text</uap:DisplayName>
					<uap:SupportedFileTypes>
						<uap:FileType>.txt</uap:FileType>
					</uap:SupportedFileTypes>
				</uap:FileTypeAssociation>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
	<uap:Capability Name="documentsLibrary" />
  </Capabilities>
</Package>